<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Chat Assistant</title>
</head>
<body>
    <div class="chatbox">
        <div class="bot-header">
            <div id="bot-name-header">Виртуальный помощник СИБИНТЕК</div>
            <div id="bot-logo"><img src="../static/logo.png" class="imagemagic"></div>
        </div>
        <div class="chat-container">
            <div class="bot-message message">
                <p>Приветствую! Я - виртуальный помощник СИБИНТЕК, готов ответить на любые Ваши вопросы.</p>
                <div class="tail-left"></div>
            </div>
        </div>
        <div class="input-container">
            <div class="input-input">
                <textarea placeholder="Какой у вас вопрос?" id="resizeTextarea" rows="2"></textarea>
            </div>
            <div class="send-button"> <div class="send-arrow"></div></div>
        </div>
    </div>
    <script type="text/javascript" src="../static/script.js"></script>
</body>
</html>